## Este notebook genera la limpieza de las fuentes de It cloud del CRM, eventos y Facturacion desde el a√±o 2013-2020 y genera un archivo consolidado de las 3 fuentes.

###### Este notebook fue creado por Francy Pineda estudiante de Maestria MINE 2018

###### Se importan librerias necesarias

In [1]:
import pandas as pd
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline
matplotlib.style.use('ggplot')
import seaborn as sns
import os
from dateutil.parser import parse
pd.options.display.max_rows = 350
pd.options.display.max_columns = 350
from scipy import stats

##### Fuentes crm_clientes y eventos

In [2]:
%cd /home/xubuntu/Documents/ProyectoFinalMINE/Datos/crm_eventos
crm_eventos = pd.read_excel('eventos_clientes.xlsx')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/crm_eventos

In [3]:
%cd /home/xubuntu/Documents/ProyectoFinalMINE/Datos/crm_eventos
crm_clientes = pd.read_excel('crm_clientes.xlsx')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/crm_eventos

##### Fuentes Facturacion 2013

In [4]:
%cd   /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2013
facturacion_julio_2013 = pd.read_excel('Julio2013.xls')
facturacion_agosto_2013 = pd.read_excel('Agosto2013.xls')
facturacion_septiembre_2013 = pd.read_excel('Septiembre2013.xls')
facturacion_octubre_2013 = pd.read_excel('Octubre2013.xls')
facturacion_noviembre_2013 = pd.read_excel('Novimbre2013.xls')
facturacion_diciembre_2013 = pd.read_excel('Diciembre2013.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2013

##### Fuentes Facturacion 2014

In [5]:
%cd   /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2014
facturacion_enero_2014 = pd.read_excel('Enero 2014.xls')
facturacion_febrero_2014 = pd.read_excel('febrero 2014.xls')
facturacion_marzo_2014 = pd.read_excel('Marzo2014.xls')
facturacion_abril_2014 = pd.read_excel('Abril2014.xls')
facturacion_mayo_2014 = pd.read_excel('mayo2014.xls')
facturacion_junio_2014 = pd.read_excel('junio2014.xls')
facturacion_julio_2014 = pd.read_excel('julio2014.xls')
facturacion_agosto_2014 = pd.read_excel('Agosto2014.xls')
facturacion_septiembre_2014 = pd.read_excel('Septiembre2014.xls')
facturacion_octubre_2014 = pd.read_excel('Octubre2014.xls')
facturacion_noviembre_2014 = pd.read_excel('noviembre2014.xls')
facturacion_diciembre_2014 = pd.read_excel('Diciembre2014.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2014

##### Fuentes Facturacion 2015

In [6]:
%cd /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2015
facturacion_enero_2015 = pd.read_excel('Enero2015.xls')
facturacion_febrero_2015 = pd.read_excel('Febrero2015.xls')
facturacion_marzo_2015 = pd.read_excel('Marzo2015.xls')
facturacion_abril_2015 = pd.read_excel('Abril2015.xls')
facturacion_mayo_2015 = pd.read_excel('Mayo2015.xls')
facturacion_junio_2015 = pd.read_excel('Junio2015.xls')
facturacion_julio_2015 = pd.read_excel('Julio2015.xls')
facturacion_agosto_2015 = pd.read_excel('Agosto2015.xls')
facturacion_septiembre_2015 = pd.read_excel('Septiembre2015.xls')
facturacion_octubre_2015 = pd.read_excel('Octubre2015.xls')
facturacion_noviembre_2015 = pd.read_excel('Noviembre2015.xls')
facturacion_diciembre_2015 = pd.read_excel('Diciembre2015.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2015

##### Fuentes Facturacion 2016

In [7]:
%cd   /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2016
facturacion_enero_2016 = pd.read_excel('Enero2016.xls')
facturacion_febrero_2016 = pd.read_excel('Febrero2016.xls')
facturacion_marzo_2016 = pd.read_excel('MArzo2016.xls')
facturacion_abril_2016 = pd.read_excel('Abril2016.xls')
facturacion_mayo_2016 = pd.read_excel('MAyo2016.xls')
facturacion_junio_2016 = pd.read_excel('junio2016.xls')
facturacion_julio_2016 = pd.read_excel('Julio2016.xls')
facturacion_agosto_2016 = pd.read_excel('Agosto2016.xls')
facturacion_septiembre_2016 = pd.read_excel('Septiembre2016.xls')
facturacion_octubre_2016 = pd.read_excel('Octubre2016.xls')
facturacion_noviembre_2016 = pd.read_excel('Noviembre2016.xls')
facturacion_diciembre_2016 = pd.read_excel('Diciembre2016.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2016

##### Fuentes Facturacion 2017

In [8]:
%cd    /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2017
facturacion_enero_2017 = pd.read_excel('Enero2017.xls')
facturacion_febrero_2017 = pd.read_excel('Febrero2017.xls')
facturacion_marzo_2017 = pd.read_excel('Marzo2017.xls')
facturacion_abril_2017 = pd.read_excel('Abril2017.xls')
facturacion_mayo_2017 = pd.read_excel('Mayo2017.xls')
facturacion_junio_2017 = pd.read_excel('Junio2017.xls')
facturacion_julio_2017 = pd.read_excel('Julio2017.xls')
facturacion_agosto_2017 = pd.read_excel('Agosto2017.xls')
facturacion_septiembre_2017 = pd.read_excel('Septiembre2017.xls')
facturacion_octubre_2017 = pd.read_excel('Octubre2017.xls')
facturacion_noviembre_2017 = pd.read_excel('Noviembre2017.xls')
facturacion_diciembre_2017 = pd.read_excel('Diciembre2017.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2017

##### Fuentes Facturacion 2018

In [9]:
%cd /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2018
facturacion_enero_2018 = pd.read_excel('Enero2018.xls')
facturacion_febrero_2018 = pd.read_excel('Febrero2018.xls')
facturacion_marzo_2018 = pd.read_excel('Marzo2018.xls')
facturacion_abril_2018 = pd.read_excel('Abril2018.xls')
facturacion_mayo_2018 = pd.read_excel('Mayo2018.xls')
facturacion_junio_2018 = pd.read_excel('Junio2018.xls')
facturacion_julio_2018 = pd.read_excel('Julio2018.xls')
facturacion_agosto_2018 = pd.read_excel('Agosto2018.xls')
facturacion_septiembre_2018 = pd.read_excel('Septiembre2018.xls')
facturacion_octubre_2018 = pd.read_excel('Octubre2018.xls')
facturacion_noviembre_2018 = pd.read_excel('Noviembre2018.xls')
facturacion_diciembre_2018 = pd.read_excel('Diciembre2018.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2018

##### Fuentes Facturacion 2019

In [10]:
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2019
facturacion_enero_2019 = pd.read_excel('Enero2019.xls')
facturacion_febrero_2019 = pd.read_excel('Febrero2019.xls')
facturacion_marzo_2019 = pd.read_excel('Marzo2019.xls')
facturacion_abril_2019 = pd.read_excel('Abril2019.xls')
facturacion_mayo_2019 = pd.read_excel('Mayo2019.xls')
facturacion_junio_2019 = pd.read_excel('Junio2019.xls')
facturacion_julio_2019 = pd.read_excel('Julio2019.xls')
facturacion_agosto_2019 = pd.read_excel('Agosto2019.xls')
facturacion_septiembre_2019 = pd.read_excel('Septiembre2019.xls')
facturacion_octubre_2019 = pd.read_excel('Octubre2019.xls')
facturacion_noviembre_2019 = pd.read_excel('Noviembre2019.xls')
facturacion_diciembre_2019 = pd.read_excel('Diciembre2019.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2019

##### Fuentes Facturacion 2020

In [11]:
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2020
facturacion_enero_2020 = pd.read_excel('Enero2020.xls')
facturacion_febrero_2020 = pd.read_excel('Febrero2020.xls')
facturacion_marzo_2020 = pd.read_excel('Marzo2020.xls')
facturacion_abril_2020 = pd.read_excel('Abril2020.xls')
facturacion_mayo_2020 = pd.read_excel('Mayo2020.xls')
facturacion_junio_2020 = pd.read_excel('Junio2020.xls')
facturacion_julio_2020 = pd.read_excel('Julio2020.xls')
facturacion_agosto_2020 = pd.read_excel('Agosto2020.xls')
facturacion_septiembre_2020 = pd.read_excel('Septiembre2020.xls')
facturacion_octubre_2020 = pd.read_excel('Octubre2020.xls')
facturacion_noviembre_2020 = pd.read_excel('Noviembre2020.xls')
facturacion_diciembre_2020 = pd.read_excel('Diciembre2020.xls')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos/facturacion/2020

##### CONCATENANDO LAS FUENTES DE FACTURACION POR A√ëO

In [12]:
frames20 = [facturacion_enero_2020,facturacion_febrero_2020,facturacion_marzo_2020,facturacion_abril_2020 ,facturacion_mayo_2020 ,facturacion_junio_2020,facturacion_julio_2020,facturacion_agosto_2020,facturacion_septiembre_2020,facturacion_octubre_2020,facturacion_noviembre_2020,facturacion_diciembre_2020 ] 
frames19 = [facturacion_enero_2019,facturacion_febrero_2019,facturacion_marzo_2019,facturacion_abril_2019 ,facturacion_mayo_2019 ,facturacion_junio_2019,facturacion_julio_2019,facturacion_agosto_2019,facturacion_septiembre_2019,facturacion_octubre_2019,facturacion_noviembre_2019,facturacion_diciembre_2019 ]
frames18 = [facturacion_enero_2018,facturacion_febrero_2018,facturacion_marzo_2018,facturacion_abril_2018 ,facturacion_mayo_2018 ,facturacion_junio_2018,facturacion_julio_2018,facturacion_agosto_2018,facturacion_septiembre_2018,facturacion_octubre_2018,facturacion_noviembre_2018,facturacion_diciembre_2018 ]
frames17 = [facturacion_enero_2017,facturacion_febrero_2017,facturacion_marzo_2017,facturacion_abril_2017 ,facturacion_mayo_2017 ,facturacion_junio_2017,facturacion_julio_2017,facturacion_agosto_2017,facturacion_septiembre_2017,facturacion_octubre_2017,facturacion_noviembre_2017,facturacion_diciembre_2017 ] 
frames16 = [facturacion_enero_2016,facturacion_febrero_2016,facturacion_marzo_2016,facturacion_abril_2016 ,facturacion_mayo_2016 ,facturacion_junio_2016,facturacion_julio_2016,facturacion_agosto_2016,facturacion_septiembre_2016,facturacion_octubre_2016,facturacion_noviembre_2016,facturacion_diciembre_2016 ]
frames15 = [facturacion_enero_2015,facturacion_febrero_2015,facturacion_marzo_2015,facturacion_abril_2015 ,facturacion_mayo_2015 ,facturacion_junio_2015,facturacion_julio_2015,facturacion_agosto_2015,facturacion_septiembre_2015,facturacion_octubre_2015,facturacion_noviembre_2015,facturacion_diciembre_2015 ]
frames14 = [facturacion_enero_2014,facturacion_febrero_2014,facturacion_marzo_2014,facturacion_abril_2014 ,facturacion_mayo_2014 ,facturacion_junio_2014,facturacion_julio_2014,facturacion_agosto_2014,facturacion_septiembre_2014,facturacion_octubre_2014,facturacion_noviembre_2014,facturacion_diciembre_2014 ]
frames13 = [facturacion_julio_2013,facturacion_agosto_2013,facturacion_septiembre_2013,facturacion_octubre_2013,facturacion_noviembre_2013,facturacion_diciembre_2013 ]

fact_2020 = pd.concat(frames20)
fact_2019 = pd.concat(frames19)
fact_2018 = pd.concat(frames18)
fact_2017 = pd.concat(frames17)
fact_2016 = pd.concat(frames16)
fact_2015 = pd.concat(frames15)
fact_2014 = pd.concat(frames14)
fact_2013 = pd.concat(frames13)
frames=[fact_2013,fact_2014,fact_2015,fact_2016,fact_2017,fact_2018,fact_2019,fact_2020]
facturacion_total = pd.concat(frames) # Contiene toda la informacion de facturacion

In [ ]:
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/Salidas
facturacion_total.to_excel("facturacion_completa.xlsx")

[Errno 2] No such file or directory: '/home/xubuntu/Documents/ProyectoFinalMINE/Datos/Salidas'
/home/xubuntu/Documents/ProyectoFinalMINE/Datos

In [14]:
facturacion_total.shape

(3866, 31)

In [26]:
facturacion_total.head(2)

,Tipo Doc.,Pre,No. Doc.,Orden/Lugar Entrega,ID Empresa,Tipo de Factura,Estado,ID. Cliente,ID. Int. Cliente,ID Interno,Nombre del Cliente,A√±o,Mes,Fecha Exp.,Fecha Hora Generaci√≥n,Moneda,Vendedor,C√≥d. Vendedor,SubTotal,IVA,Descuento,Otros,Total Retenci√≥n,Total,Total A Pagar,Ver,Ver.1,Estado Notificaci√≥n,Tel√©fono,Correos Electr√≥nicos Cliente,Correos Electr√≥nicos Enviados
0,Factura,IT,3.0,NaN,98.0,Electr√≥nica,Anulada,9.00227e+08,9.00227e+08,9.00227e+08,Contact Center Colombia C3 SAS,2013.0,7.0,2013-07-22,2013-07-22 19:38:35.820,COP,Indefinido,NaN,900000.0,144000.0,0.0,0.0,0.0,1044000.0,NaN,322926.0,322926.0,NaN,4.86202e+06,aduenas@c3colombia.com,NaN
1,Factura,IT,2.0,NaN,98.0,Electr√≥nica,Entregada,9.00227e+08,9.00227e+08,9.00227e+08,Contact Center Colombia C3 SAS,2013.0,7.0,2013-07-19,2013-07-19 21:11:20.777,COP,Wilson Rojas P,NaN,11353185.0,1816509.6,0.0,0.0,0.0,13169694.6,NaN,322065.0,322065.0,NaN,4.86202e+06,aduenas@c3colombia.com,NaN

###### Agrupacion de ventas por cliente en los a√±os, solo las facturas validas para colombia

In [27]:
facturacion_total=facturacion_total.loc[(facturacion_total['Moneda'] =='COP')]
facturacion_total=facturacion_total.loc[facturacion_total['Estado'].isin(['Entregada', 'Aceptada', 'Creada', 'Modificada'])]

In [28]:
facturacion_por_cliente= facturacion_total.groupby('Correos Electr√≥nicos Cliente')['SubTotal'].sum().reset_index()

##### Se calcula la longitud del correo para evitar  valores como: * . 0 ''

In [29]:
crm_clientes["correoItcloud"] = crm_clientes["correoItcloud"].astype('str')    
crm_clientes["longitud"] = crm_clientes['correoItcloud'].apply(lambda x: len(x))

In [30]:
crm_clientes_con_id=crm_clientes.loc[(crm_clientes['longitud'] >=4)]

#SE UNIFICA EL TIPO DE DATO PARA EL MERGE
crm_clientes_con_id["correoItcloud"] = crm_clientes["correoItcloud"].astype('str') 
facturacion_por_cliente["Correos Electr√≥nicos Cliente"] = facturacion_por_cliente["Correos Electr√≥nicos Cliente"].astype('str')

/home/xubuntu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [31]:
crm_clientes_con_id['correoItcloud'].shape

(1419,)

In [32]:
crm_clientes_con_id['correoItcloud'].nunique()

1377

In [33]:
# Se borran clientes duplicados con el correo (PENDIENTE REVISAR PORQUE)
crm_clientes_con_id_unicos = crm_clientes_con_id.drop_duplicates(subset=['correoItcloud'], keep=False)

##### Se realiza el merge de las fuentes de facturaci√≥n y  clientes de crm.

In [35]:
crm_con_ventas =  pd.merge(crm_clientes_con_id_unicos, facturacion_por_cliente, how='inner', left_on=['correoItcloud'],right_on=['Correos Electr√≥nicos Cliente'])
crm_con_ventas.head(2)

,id,TipoUsuario,Prioridad,producto,nombre,empresa,Sector,ciudad,correo,correo.1,correo2,correoItcloud,corre,correo.2,Comentario inicial del cliente,Negociacion,Tipo Cotizacion a enviar,comercial,ip,navegador,Fecha creacion,estado,longitud,Correos Electr√≥nicos Cliente,SubTotal
0,5,Usuario_Final,2_Alta,Sms_Salida,Lorena -3184633886,UB CUARENTA,NaN,Bogota,0,comunicacionvisual@cvr.com.co,0,gerencia@cvr.com.co,0,0,este cliente ya habia enviado..se renegocia pr...,,SMS_Correo_CON_Precio,ccastellanos,200.47.156.195,Mozilla,2014-11-24 07:32:42,en_proceso_Con_Venta,19,gerencia@cvr.com.co,1431032.0
1,14,Usuario_Final,2_Alta,Sms_Salida,Yurani Amesquita O HEIDY MILENA ORTIZ DIAZ **,COMFAMILIAR HUILA,NaN,Neiva,0,callcenter@comfamiliarhuila.com,heidymilenaortiz@gmail.com,ly1329@hotmail.com,0,0,A estos correos se envia el certificadode segu...,SMS A $25 negociado con Yurani ...,No_Enviar_Mail,mpineda,200.47.156.195,Mozilla,2014-11-24 08:16:32,en_proceso_Con_Venta,18,ly1329@hotmail.com,22977190.0

In [39]:
#Se verifica las cantidades del merge
print ("El total de clientes en crm_clientes es: ", end="")
print (len(crm_clientes["correoItcloud"]))
print ("El total de clientes en Facturacion es: ", end="")
print (len(facturacion_por_cliente["Correos Electr√≥nicos Cliente"]))
print ("El total de dataset completo es: ", end="")
print (len(crm_con_ventas["correoItcloud"]))
print ("Se estan perdiendo   :", end="")
print (452-378, end="")
print (" registros")

El total de clientes en crm_clientes es: 2880
El total de clientes en Facturacion es: 448
El total de dataset completo es: 376
Se estan perdiendo   :74 registros

###### SE SEPARAN LOS A√ëOS DE PAGO y se selecciona facturacion en COP Y facturas validas

In [40]:
facturacion_total.head(2)

,Tipo Doc.,Pre,No. Doc.,Orden/Lugar Entrega,ID Empresa,Tipo de Factura,Estado,ID. Cliente,ID. Int. Cliente,ID Interno,Nombre del Cliente,A√±o,Mes,Fecha Exp.,Fecha Hora Generaci√≥n,Moneda,Vendedor,C√≥d. Vendedor,SubTotal,IVA,Descuento,Otros,Total Retenci√≥n,Total,Total A Pagar,Ver,Ver.1,Estado Notificaci√≥n,Tel√©fono,Correos Electr√≥nicos Cliente,Correos Electr√≥nicos Enviados
1,Factura,IT,2.0,NaN,98.0,Electr√≥nica,Entregada,9.00227e+08,9.00227e+08,9.00227e+08,Contact Center Colombia C3 SAS,2013.0,7.0,2013-07-19,2013-07-19 21:11:20.777,COP,Wilson Rojas P,NaN,11353185.0,1816509.6,0.0,0.0,0.0,13169694.6,NaN,322065.0,322065.0,NaN,4.86202e+06,aduenas@c3colombia.com,NaN
2,Factura,IT,1.0,NaN,98.0,Por Computador,Entregada,9.00227e+08,9.00227e+08,9.00227e+08,Contact Center Colombia C3 SAS,2013.0,7.0,2013-07-16,2013-07-16 08:18:06.617,COP,Wilson Rojas P,NaN,3934750.0,629560.0,0.0,0.0,0.0,4564310.0,NaN,320069.0,320069.0,NaN,4.86202e+06,aduenas@c3colombia.com,NaN

In [41]:
facturacion_total.Estado.unique()

array(['Entregada', 'Aceptada', 'Creada', 'Modificada'], dtype=object)

In [42]:
facturacion_total['Fecha Exp.'] = facturacion_total['Fecha Exp.'].astype('str')
facturacion_total['a√±o_facturado'] = facturacion_total['Fecha Exp.'].str.split('-').str.get(0)

In [43]:
fact_cliente_fecha= facturacion_total.groupby(['Correos Electr√≥nicos Cliente','a√±o_facturado'])['SubTotal'].sum().reset_index()

In [44]:
fact_cliente_fecha.head(2)

   Correos Electr√≥nicos Cliente a√±o_facturado  SubTotal
0  Andreaayubirealtor@gmail.com          2017  111001.0
1        CUESTARAUL@HOTMAIL.COM          2017  100000.0

In [45]:
#Ejemplo de como va la agrupacion de la facturacion para algun cliente particular
fact_cliente_fecha.loc[(fact_cliente_fecha['Correos Electr√≥nicos Cliente'] =='txcloudsas@gmail.com')]

    Correos Electr√≥nicos Cliente a√±o_facturado  SubTotal
697         txcloudsas@gmail.com          2015  862000.0
698         txcloudsas@gmail.com          2016  110344.0

###### Se consolida las 3 fuentes
#Facturacion_por_cliente
#crm_clientes
#crm_eventos

In [46]:
crm_eventos.head(2)

,id_interno,fecha_1,fecha_2,Comentario,estado_0_1,asesor,ip
0,1,2014-11-24 05:23:07,2014-11-24 13:00:00,Registro inicial,1,wrojas,201.184.139.12
1,2,2014-11-24 05:28:08,2014-11-24 13:00:00,Registro inicial,1,wrojas,201.184.139.12

In [47]:
eventos_por_cliente= crm_eventos.groupby('id_interno')['fecha_1'].count().reset_index()
eventos_por_cliente=eventos_por_cliente.rename(columns = {'fecha_1':'numero_iteraciones'})

In [48]:
#Ejemplo de prueba
eventos_por_cliente.loc[(eventos_por_cliente['id_interno'] ==653)]

     id_interno  numero_iteraciones
652         653                  69

In [49]:
#Ejemplo de prueba 
facturacion_total.loc[(facturacion_total['Correos Electr√≥nicos Cliente'] =='txcloudsas@gmail.com')]

,Tipo Doc.,Pre,No. Doc.,Orden/Lugar Entrega,ID Empresa,Tipo de Factura,Estado,ID. Cliente,ID. Int. Cliente,ID Interno,Nombre del Cliente,A√±o,Mes,Fecha Exp.,Fecha Hora Generaci√≥n,Moneda,Vendedor,C√≥d. Vendedor,SubTotal,IVA,Descuento,Otros,Total Retenci√≥n,Total,Total A Pagar,Ver,Ver.1,Estado Notificaci√≥n,Tel√©fono,Correos Electr√≥nicos Cliente,Correos Electr√≥nicos Enviados,a√±o_facturado
58,Factura,IT,1128.0,NaN,98.0,Por Computador,Entregada,900677974,900677974,900677974,TXCLOUD,2015.0,10.0,2015-10-25,2015-10-25 11:42:02.663,COP,Indefinido,NaN,862000.0,137920.00,0.0,0.0,0.0,999920.00,NaN,1092612.0,1092612.0,NaN,2394553,txcloudsas@gmail.com,txcloudsas@gmail.com,2015
66,Factura,IT,1714.0,NaN,98.0,Por Computador,Creada,900677974,900677974,NaN,TXCLOUD,2016.0,6.0,2016-06-07,2016-06-07 08:43:15.923,COP,Indefinido,NaN,110344.0,17655.04,0.0,0.0,0.0,127999.04,127999.04,1589444.0,1589444.0,NaN,2.39455e+06,txcloudsas@gmail.com,txcloudsas@gmail.com,2016

In [50]:
facturacion_total.loc[(facturacion_total['Moneda'] =="COP")].shape

(3717, 32)

In [51]:
crm_clientes.loc[(crm_clientes['correoItcloud'] =='txcloudsas@gmail.com')]

,id,TipoUsuario,Prioridad,producto,nombre,empresa,Sector,ciudad,correo,correo.1,correo2,correoItcloud,corre,correo.2,Comentario inicial del cliente,Negociacion,Tipo Cotizacion a enviar,comercial,ip,navegador,Fecha creacion,estado,longitud
656,653,Usuario_Final,2_Alta,Sms_Salida,LUIS MIGUEL ROZO FUENTES,0,NaN,OTROS,0,txcloudsas@gmail.com,0,txcloudsas@gmail.com,0,0,creo la cuenta ...,,SMS_Correo_CON_Precio,fpineda,181.50.27.46,Mozilla,2015-08-21 17:13:17,en_proceso_Con_Venta,20

##### Se unifican  las fuentes

In [52]:
crm_fact_y_eventos =  pd.merge(crm_con_ventas, eventos_por_cliente, how='left', left_on=['id'],right_on=['id_interno'])

In [53]:
#Se verifica las cantidades del merge
print ("El total de clientes en crm_con_ventas es: ", end="")
print (len(crm_con_ventas["id"]))
print ("El total de clientes con eventos es : ", end="")
print (len(eventos_por_cliente["id_interno"]))
print ("El total de dataset completo es: ", end="")
print (len(crm_fact_y_eventos["id"]))

El total de clientes en crm_con_ventas es: 376
El total de clientes con eventos es : 2880
El total de dataset completo es: 376

In [69]:
#CUANDO EL SECTOR YA SE TIENE SE PUEDE UTILIZAR ESTE ARCHIVO
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/
crm_fact_y_eventos.to_excel('clientes_con_facturacion_numero_eventos.xlsx')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos

## Se coloca el sector suministrado POR ItCloud, este archivo debe crearse por parte de it cloud pues este campo no existe en su CRM actual.

In [58]:
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/
sector_v1 = pd.read_excel('elsector.xlsx')

/home/xubuntu/Documents/ProyectoFinalMINE/Datos

In [59]:
sector_v1.head()

         Sector                     correoItcloud
0    Callcenter            aduenas@c3colombia.com
1  Distribuidor  javier.ortiz@negociosenlanube.co
2       Iglesia          contabilidad@iurd.com.co
3  Distribuidor             contacto@inmessage.co
4        Retail        social.manager@roottco.com

In [60]:
crm_fact_y_eventos.shape

(376, 27)

In [61]:
sector_v1.shape

(378, 2)

In [63]:
cr_evento_sector =  pd.merge(crm_fact_y_eventos, sector_v1, how='left', left_on=['correoItcloud'],right_on=['correoItcloud'])

In [66]:
cr_evento_sector.head(3)

,id,TipoUsuario,Prioridad,producto,nombre,empresa,Sector_x,ciudad,correo,correo.1,correo2,correoItcloud,corre,correo.2,Comentario inicial del cliente,Negociacion,Tipo Cotizacion a enviar,comercial,ip,navegador,Fecha creacion,estado,longitud,Correos Electr√≥nicos Cliente,SubTotal,id_interno,numero_iteraciones,Sector_y,solo_ciudad
0,5,Usuario_Final,2_Alta,Sms_Salida,Lorena -3184633886,UB CUARENTA,NaN,Bogota,0,comunicacionvisual@cvr.com.co,0,gerencia@cvr.com.co,0,0,este cliente ya habia enviado..se renegocia pr...,,SMS_Correo_CON_Precio,ccastellanos,200.47.156.195,Mozilla,2014-11-24 07:32:42,en_proceso_Con_Venta,19,gerencia@cvr.com.co,1431032.0,5,62,Retail,Bogota
1,14,Usuario_Final,2_Alta,Sms_Salida,Yurani Amesquita O HEIDY MILENA ORTIZ DIAZ **,COMFAMILIAR HUILA,NaN,Neiva,0,callcenter@comfamiliarhuila.com,heidymilenaortiz@gmail.com,ly1329@hotmail.com,0,0,A estos correos se envia el certificadode segu...,SMS A $25 negociado con Yurani ...,No_Enviar_Mail,mpineda,200.47.156.195,Mozilla,2014-11-24 08:16:32,en_proceso_Con_Venta,18,ly1329@hotmail.com,22977190.0,14,207,Cooperativa,Neiva
2,15,Usuario_Final,1_SuperAlta,Sms_Salida,Saulo Rincon -Stefanny Hernandez,UNIVERSIDAD INCA,NaN,Bogota,0,mercadeo@unincca.edu.co,sarib29@hotmail.com,mercadeo@unincca.edu.co,0,0,Por favor requerimos informaci√É∆í√Ç¬≥n de los pro...,$16 mas iva,SMS_Correo_CON_Precio,fpineda,200.47.156.195,Mozilla,2014-11-24 08:24:41,en_proceso_Con_Venta,23,mercadeo@unincca.edu.co,1007200.0,15,92,Universidad,Bogota

In [65]:
cr_evento_sector['solo_ciudad'] =cr_evento_sector['ciudad'].str.split('-').str.get(0)

In [67]:
cr_evento_sector.solo_ciudad.unique()

array(['Bogota', 'Neiva', 'Otra', 'Barranquilla', 'Bucaramanga',
       'Medellin', 'barrancabermeja', 'Cali', 'OTROS', 'Barranquilla ',
       'Pereira', 'OTROS ', 'Tunja', 'Medellin ', 'Manizales ', 'Cucuta',
       'Manizales', 'Ibague ', 'Cali ', 'Cartagena', 'Ibague', 'Bogota ',
       'Armenia', 'Bucaramanga ', 'Villavicencio', 'Santa Marta',
       'Cucuta ', 'Cartagena ', 'Villavicencio '], dtype=object)

## Se exporta el archivo final con el que se trabajara

In [68]:
%cd     /home/xubuntu/Documents/ProyectoFinalMINE/Datos/
cr_evento_sector.to_excel("cliente_con_ventas_sector_eventos.xlsx")

/home/xubuntu/Documents/ProyectoFinalMINE/Datos